In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
paths = {
    'nifty' : "../../Datasets/",
    'vix' : "../../Datasets/India_VIX.csv",
    'company_3min' : "../../Datasets/Company_datasets/3min",
    'company_5min' : "../../Datasets/Company_datasets/5min",
    'company_15min' : "../../Datasets/Company_datasets/15min",
}

company_dataset_names = [ "HDFCBANK", "ICICIBANK", "INFY", "RELIANCE", "SBIN", "TCS"]
nifty_dataset_names = ["nifty_5min_data","nifty_15min_data","nifty_day_data_repopulated"]

In [6]:
datasets_5min = {}
datasets_15min = {}
datasets_3min = {}
for name in company_dataset_names:
    datasets_3min[name] = pd.read_csv((paths['company_3min'] + ('/'+name+'.csv')))
    datasets_5min[name] = pd.read_csv((paths['company_5min'] + ('/'+name+'.csv')))
    datasets_15min[name] = pd.read_csv((paths['company_15min'] + ('/'+name+'.csv')))

nifty_dataset = {}

for name in nifty_dataset_names:
    label = name.split('_')[1]
    nifty_dataset[label] = pd.read_csv((paths['nifty'] + (name+'.csv')))

india_vix=pd.read_csv(paths['vix'])

In [18]:
nifty_dataset['day']

,Unnamed: 0,Date,Open,High,Low,Close,Volume
0,0,2007-09-17,4518.450195,4549.049805,4482.850098,4494.649902,51250.0
1,1,2007-09-18,4494.100098,4551.799805,4481.549805,4546.200195,56390.0
2,2,2007-09-19,4550.250000,4739.000000,4550.250000,4732.350098,108520.0
3,3,2007-09-20,4734.850098,4760.850098,4721.149902,4747.549805,93970.0
4,4,2007-09-21,4752.950195,4855.700195,4733.700195,4837.549805,161390.0
...,...,...,...,...,...,...,...
4091,4091,2024-05-30,22617.449219,22705.750000,22417.000000,22488.650391,373400.0
4092,4092,2024-05-31,22568.099609,22653.750000,22465.099609,22530.699219,572100.0
4093,4093,2024-06-03,23337.900391,23338.699219,23062.300781,23263.900391,569400.0
4094,4094,2024-06-04,23179.500000,23179.500000,21281.449219,21884.500000,1006100.0
4095,4095,2024-06-05,22128.349609,22560.650391,21791.949219,22528.150391,NaN

In [17]:
data = nifty_dataset['day'].drop(columns = ['Unnamed: 0'])
data

,Date,Open,High,Low,Close,Volume
0,2007-09-17,4518.450195,4549.049805,4482.850098,4494.649902,51250.0
1,2007-09-18,4494.100098,4551.799805,4481.549805,4546.200195,56390.0
2,2007-09-19,4550.250000,4739.000000,4550.250000,4732.350098,108520.0
3,2007-09-20,4734.850098,4760.850098,4721.149902,4747.549805,93970.0
4,2007-09-21,4752.950195,4855.700195,4733.700195,4837.549805,161390.0
...,...,...,...,...,...,...
4091,2024-05-30,22617.449219,22705.750000,22417.000000,22488.650391,373400.0
4092,2024-05-31,22568.099609,22653.750000,22465.099609,22530.699219,572100.0
4093,2024-06-03,23337.900391,23338.699219,23062.300781,23263.900391,569400.0
4094,2024-06-04,23179.500000,23179.500000,21281.449219,21884.500000,1006100.0
4095,2024-06-05,22128.349609,22560.650391,21791.949219,22528.150391,NaN

In [21]:
data['SMA_10'] = data['Close'].rolling(window=10).mean()
data['SMA_50'] = data['Close'].rolling(window=50).mean()
data['EMA_10'] = data['Close'].ewm(span=10, adjust=False).mean()
data['EMA_50'] = data['Close'].ewm(span=50, adjust=False).mean()
data['Price_Change'] = data['Close'].diff()
data['Daily_Return'] = data['Close'].pct_change()
data['Volatility'] = data['Close'].rolling(window=20).std()
# data['Upper_Band'] = data['SMA_20'] + (data['Volatility'] * 2)
# data['Lower_Band'] = data['SMA_20'] - (data['Volatility'] * 2)
# data['RSI'] = compute_rsi(data)
# data['MACD'] = data['EMA_12'] - data['EMA_26']
# data['MACD_Signal'] = data['MACD'].ewm(span=9, adjust=False).mean()
# data['MACD_Hist'] = data['MACD'] - data['MACD_Signal']
# data['OBV'] = (np.sign(data['Close'].diff()) * data['Volume']).fillna(0).cumsum()
# data['L14'] = data['Low'].rolling(window=14).min()
# data['H14'] = data['High'].rolling(window=14).max()
# data['%K'] = 100 * (data['Close'] - data['L14']) / (data['H14'] - data['L14'])
# data['%D'] = data['%K'].rolling(window=3).mean()
# data['TR'] = data[['High', 'Low', 'Close']].apply(lambda x: max(x['High'] - x['Low'], abs(x['High'] - x['Close'].shift()), abs(x['Low'] - x['Close'].shift())), axis=1)
# data['ATR'] = data['TR'].rolling(window=14).mean()
# data['VWAP'] = (data['Volume'] * (data['High'] + data['Low'] + data['Close']) / 3).cumsum() / data['Volume'].cumsum()
# data['High_Low_Diff'] = data['High'] - data['Low']

In [22]:
data

,Date,Open,High,Low,Close,Volume,SMA_10,SMA_50,EMA_10,EMA_50,Price_Change,Daily_Return,Volatility
0,2007-09-17,4518.450195,4549.049805,4482.850098,4494.649902,51250.0,NaN,NaN,4494.649902,4494.649902,NaN,NaN,NaN
1,2007-09-18,4494.100098,4551.799805,4481.549805,4546.200195,56390.0,NaN,NaN,4504.022683,4496.671482,51.550293,0.011469,NaN
2,2007-09-19,4550.250000,4739.000000,4550.250000,4732.350098,108520.0,NaN,NaN,4545.536758,4505.913781,186.149903,0.040946,NaN
3,2007-09-20,4734.850098,4760.850098,4721.149902,4747.549805,93970.0,NaN,NaN,4582.266403,4515.389703,15.199707,0.003212,NaN
4,2007-09-21,4752.950195,4855.700195,4733.700195,4837.549805,161390.0,NaN,NaN,4628.681567,4528.023433,90.000000,0.018957,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4091,2024-05-30,22617.449219,22705.750000,22417.000000,22488.650391,373400.0,22693.550000,22379.154961,22654.533158,22375.130009,-216.048828,-0.009516,302.950429
4092,2024-05-31,22568.099609,22653.750000,22465.099609,22530.699219,572100.0,22706.234961,22386.835938,22632.017896,22381.230763,42.048828,0.001870,300.691098
4093,2024-06-03,23337.900391,23338.699219,23062.300781,23263.900391,569400.0,22786.015039,22411.646953,22746.905622,22415.845258,733.201172,0.032542,348.473163
4094,2024-06-04,23179.500000,23179.500000,21281.449219,21884.500000,1006100.0,22721.559961,22408.222969,22590.104600,22395.008189,-1379.400391,-0.059294,375.897783
4095,2024-06-05,22128.349609,22560.650391,21791.949219,22528.150391,NaN,22714.594922,22422.436992,22578.840198,22400.229452,643.650391,0.029411,373.423570

In [ ]:
data.to_csv('nifty_day_data_indicato')