In [4]:
!cd

E:\Karan_Bais\python\Ml\Projects\Stock

In [5]:
!dir

 Volume in drive E is Workflow
 Volume Serial Number is 9462-BAF0

 Directory of E:\Karan_Bais\python\Ml\Projects\Stock

05-06-2024  14:34    <DIR>          .
05-06-2024  14:34    <DIR>          ..
05-06-2024  14:33    <DIR>          .ipynb_checkpoints
03-06-2024  16:53       430,852,571 15minute-20221106T164430Z-001.zip
03-06-2024  16:58     1,424,474,107 3minute.zip
04-06-2024  20:00    <DIR>          day-20221106T165843Z-001
03-06-2024  16:50        26,527,526 day-20221106T165843Z-001.zip
05-06-2024  14:32               337 Generate_15min_5min.ipynb
03-06-2024  17:01        46,614,355 NIFTY50.csv
               5 File(s)  1,928,468,896 bytes
               4 Dir(s)  176,775,331,840 bytes free

In [6]:
import pandas as pd 
import numpy as np

In [7]:
df = pd.read_csv(f'Nifty50.csv')

In [8]:
df.head()

                  date     open     high      low    close  volume
0  2015-01-09 09:15:00  8285.45  8295.90  8285.45  8292.10       0
1  2015-01-09 09:16:00  8292.60  8293.60  8287.20  8288.15       0
2  2015-01-09 09:17:00  8287.40  8293.90  8287.40  8293.90       0
3  2015-01-09 09:18:00  8294.25  8300.65  8293.90  8300.65       0
4  2015-01-09 09:19:00  8300.60  8301.30  8298.75  8301.20       0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 836757 entries, 0 to 836756
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    836757 non-null  object
 1   open    836757 non-null  float64
 2   high    836757 non-null  float64
 3   low     836757 non-null  float64
 4   close   836757 non-null  float64
 5   volume  836757 non-null  int64
dtypes: float64(4), int64(1), object(1)
memory usage: 38.3+ MB

In [10]:
df.isnull().sum()

date      0
open      0
high      0
low       0
close     0
volume    0
dtype: int64

In [14]:
for clm in df.columns:
    print(str(clm) + " --- " + str((df[str(clm)] == 0).sum()))

date --- 0
open --- 0
high --- 0
low --- 0
close --- 0
volume --- 836757

In [15]:
df.drop(columns= ['volume'], inplace = True)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 836757 entries, 0 to 836756
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    836757 non-null  object
 1   open    836757 non-null  float64
 2   high    836757 non-null  float64
 3   low     836757 non-null  float64
 4   close   836757 non-null  float64
dtypes: float64(4), object(1)
memory usage: 31.9+ MB

In [54]:
df.to_csv("NIFTY50-(1).csv", index=False)

In [55]:
Nifty_1min_data = pd.read_csv("NIFTY50-(1).csv" , parse_dates=['date'])

In [56]:
nifty_date_indexed = Nifty_1min_data.set_index(['date'])

In [57]:
Nifty_1min_data['date'].max() - Nifty_1min_data['date'].min()

Timedelta('3303 days 06:14:00')

In [59]:
stock_5min_data = nifty_date_indexed.groupby(pd.Grouper(freq='5min',origin='start',label='right')).agg({"open": "first", "high": "max", "low": "min", "close": "last"})
stock_5min_data.index += pd.Timedelta(minutes=-5)

stock_5min_data.dropna(inplace=True)

In [60]:
stock_5min_data.to_csv('nifty_5min_data.csv')

In [61]:
stock_15min_data = nifty_date_indexed.groupby(pd.Grouper(freq='15min',origin='start',label='right')).agg({"open": "first", "high": "max", "low": "min", "close": "last"})
stock_15min_data.index += pd.Timedelta(minutes=-5)

stock_15min_data.dropna(inplace=True)

In [62]:
stock_15min_data.to_csv('nifty_15min_data.csv')